[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
gino = "*"

[packages]
tornado = "*"
pyyaml = "*"
mysqlclient = "*"
sqlalchemy = "*"
redis = "==4.4.4"
rsa = "*"
pycryptodome = "*"
pytz = "*"
python-dateutil = "*"
requests = "*"
raven = "*"
pika = "*"


[requires]
python_version = "3.7"
